<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Dropbox images</title>

        <link type="text/css" href="main.css" rel="stylesheet" />
    </head>
    <body>

        <div id="left">
            <div th:if="${rotate}">
                <img width="80%" id="rotate" th:src="${'images/' + image}"/>
            </div>
            <div th:unless="${rotate}">
                <img width="95%" th:src="${'images/' + image}"/>
            </div>
        </div>
        <div id="right">
            <form th:action="@{/startStop}" method="POST">
                <button id="stop-button" type="submit" th:text="${stopButtonText}"></button>
            </form>
            <form th:action="@{/previous}" method="POST">
                <button id="previous-button" type="submit" th:text="Edellinen"></button>
            </form>
            <div>
                <h5 th:text="${image}">name</h5>
                <h5 th:text="${date}">date</h5>
            </div>
        </div>

        <div th:if="${autoupdate}">
            <script>
                setInterval(function() { window.location = window.location.href.split('?')[0]; }, 10000);
            </script>
        </div>

    </body>
</html>